<!-- Nav Bar -->
     <div class="navContent">
         <div class="navItem"><a routerLink="home"><i class="fas fa-home"></i> Home</a></div>
		 <div class="navItem"><a (click)="userAccount()" routerLink="user"><i class="fas fa-user"></i> {{user.username}}</a></div>
	     <div class="navItem right"><a (click)="logout()" routerLink="login">Sign Out</a></div>
     </div>
     <div class="groupWrap">
         <div class="mainGroupContent">
	     <!-- Groups Section -->
	         <div class="h1">Account</div>
             <div class="footerline"></div>	
             <div class="h2">This is your account information</div>		 
		 
             <div class="userBiglogo" >
				 <img src="images\{{user.userLogo}}" id="imageID" alt="userLogo"/>
		     </div>	
             <div id="errorImage"></div>			 
		     <form>		     
				 <label for="uploadfile" class="chatButton" id="img" style="float:left;">
				     <i class="far fa-image"></i><input type="file" (change)="onFileSelected($event)" name="uploadfile" id="uploadfile"/>
				 </label>
		         <button (click)="onUpload()" type="submit" name="submit" class="chatButton">Upload</button>
		     </form>
			 <div class="formLabel">Username: {{user.username}}</div> 		
			 <div class="formLabel">Permissions: {{user.permissions}}</div> 
             <div class="formLabel">Email: {{user.email}}</div>	
		 </div>
     </div>		 	 
	 <div class="groupWrap">
         <div class="mainGroupContent">
		     <div class="h1">User List</div> 
			 <div class="footerline"></div>	
			 <div class="checkPer" *ngIf="user.permissions == 2">
			 <div class="userList" *ngFor="let u of userss;">	
                 <div class="h2">UserID: {{u._id}}</div>
                 <div class="userBiglogo">
				     <img src="images\{{u.userLogo}}" alt="userLogo"/>
		         </div>					 
			     <div class="formLabel">Username</div>
			     <input type="text" class="formInput" id="{{u._id}}" name="username" [(ngModel)]="u.username" placeholder="{{u.username}}"/>
				 <div class="formLabel">Password</div>
				 <input type="password" class="formInput" id="{{u._id}}" name="password" [(ngModel)]="u.password" placeholder="{{u.password}}"/>
				 <div class="formLabel">Email</div>
				 <input type="email" class="formInput" id="{{u._id}}" name="email" [(ngModel)]="u.email" placeholder="{{u.email}}"/>
			     <button (click)="updateUser(u)" type="submit" name="submit" class="chatButton"><i class="fas fa-save"></i> Save</button>
                 <button (click)="deleteUser(u)" type="submit" name="submit" class="chatButton"><i class="fas fa-trash-alt"></i> Delete</button>
			 </div>
			 </div> 
			 <div class="checkPer" *ngIf="user.permissions != 2">
                 <div class="formLabel">You don't have permission to view the user list.</div>			 
			 </div>
		 </div>
	 </div>
	 <div class="groupWrap">
         <div class="mainGroupContent">
		     <div class="h1">Create User</div>
             <div class="footerline"></div>				 
			 <div class="h2">Make a new user</div> 
             <div class="checkPer" *ngIf="user.permissions >= 1">			 
			 <div id="error"></div>
				 <div class="formLabel">Username</div>
			     <input type="text" class="formInput" name="username" id="use" [(ngModel)]="username" placeholder="Username"/>
				 <div class="formLabel">Email</div>
			     <input type="email" class="formInput" name="email" id="ema" [(ngModel)]="email" placeholder="Email"/>
			     <div class="formLabel">Password</div>
	             <input type="password" class="formInput" name="password" id="pas" [(ngModel)]="password" placeholder="Password"/>
	             <button (click)="createUser(username, password, email)" type="submit" name="submit" class="chatButton">Create</button>
			 </div>
			 <div class="checkPer" *ngIf="user.permissions == 0">
                 <div class="formLabel">You don't have permission to create a user.</div>			 
			 </div>
		 </div>
	 </div>