<!-- Nav Bar -->
     <div class="navContent">
         <div class="navItem"><a routerLink="home"><i class="fas fa-home"></i> Home</a></div>
		 <div class="navItem"><a (click)="userAccount()" routerLink="user"><i class="fas fa-user"></i> {{user.username}}</a></div>
	     <div class="navItem right"><a (click)="logout()" routerLink="login">Sign Out</a></div>
     </div>
<!-- Main Body -->
<div class="subWrap">
<!-- Groups -->
     <div class="groupWrap">
         <div class="mainGroupContent">
	     <!-- Groups Section -->
	         <div class="h1">Groups</div>  
             <div class="footerline"></div>				 
             <!-- New Group Form -->
			 <div class="checkPer" *ngIf="user.permissions >= 1">
             <form (submit)="createGroup($event)">
			     <div class="formLabel">Create Group</div>				 
				 <div id="error"></div>
                 <input [(ngModel)]="newGroupName" type="text" class="formInput" id="gro" name="newGroupName"  placeholder="New Group">
			     <button type="submit" name="submit" class="chatButton">Create</button>
             </form>	
             </div>			 
			  <!-- List of Groups -->
			 <div class="formLabel"></div>
			 <div class="h2">List</div>
			 <div class="formLabel" *ngIf="selectedGroup != null">{{selectedGroup.name}}</div>
             <div class="groupListContent" *ngFor="let group of groups">
                 <button type="button" *ngIf="user.permissions == 0" (click)="openGroup(group.name)" class="midButton"><i class="fas fa-users"></i> {{ group.name }}</button>
                 <button type="button" *ngIf="user.permissions >= 1" (click)="openGroup(group.name)" class="midButton"><i class="fas fa-users"></i> {{ group.name }}</button>
                 <button type="button" class="deleteButton" (click)="deleteGroup(group.name)" *ngIf="user.permissions >= 1"><i class="fas fa-trash-alt"></i></button>
             </div>
	     </div>
     </div>
	 <!-- Channels Column -->
     <div class="channelWrap">
	     <div class="mainChannelContent">	 
		     <div class="h1">Channels</div> 
             <div class="footerline"></div>			 
		     <!-- New Channel Form -->
			 <div class="checkPer" *ngIf="user.permissions >= 2">
			 <form (submit)="createChannel($event)">
			     <div class="formLabel">Create Channel</div>
				 <div id="error2"></div>
                 <input class="formInput" name="newChannelName" placeholder="New Channel" id="cha" type="text" [(ngModel)]="newChannelName">
                 <button class="chatButton">Create</button>
             </form>
			 </div>
			 <!-- List of Channels -->
			 <div class="formLabel"></div>
			 <div class="h2">List</div>
			 <div class="formLabel" *ngIf="selectedChannel != null">{{selectedChannel.name}}</div>
             <app-channels [channels]=channels [group]=selectedGroup (channelChanged)="channelChangedHandler($event)" (leaveChanged)="leaveChangedHandler($event)"></app-channels>
		 </div>	    
	 </div>
     <!-- Chat Column -->
     <div class="chatWrap">
         <app-chat [channel]=selectedChannel></app-chat>
     </div>
     <!-- Members Column -->
	 <div class="userWrap">
         <div class="mainUserContent">
         <div class="h1">Members</div>
			 <div class="footerline"></div>	
		     <div class="userlist" *ngIf="selectedChannel != null">
			     <div class="userOnline" *ngFor="let member of selectedChannel.members">
				     {{ member }}
					 <div class="checkPer" *ngIf="user.permissions > 1">
					     <button (click)="updateChannel(selectedChannel, member)" type="submit" name="submit" class="chatButton" style="right: 0;"><i class="fas fa-times"></i></button>
					 </div>
			     </div>				 
             </div>
			 <div class="userlist" *ngIf="selectedChannel == null">
			     No selected Channels.
			 </div>
         </div>
     </div>
 </div>