 <div class="mainMessageContent">
     <div class="h1">Chat</div>
     <div class="h2" *ngIf="channel != null">{{channel.name}}</div>
     <div class="subMessageContent">
         <div class="messageListContent">
             <div class="black" *ngIf="message">No messages Yet.</div>
		     <div class="userMessage" ngFor="let message of messages;">
			     <div class="userlogo">
				     <img src="" alt="userLogo"/>
				 </div>
			     <div class="userTextBox">
				     {{message}}
				 </div>
			 </div>
		 </div>
	 </div>    
     <div class="chatMessageContent">
	     <input [(ngModel)]="message" class="messageInput" name="message" id="message" placeholder="What's on your mind."/> 
		 <form>
		     <input type="file" (change)="onFileSelected($event)" name="uploadfile" id="uploadfile"/>
		     <button (click)="onUpload()" type="submit" name="submit" class="chatButton"><i class="far fa-image"></i></button>
			 <img src="images/{{imagepath}}"/>
		 </form>
		 
		 <button (click)="sendMessage()" type="submit" name="submit" class="chatButton">Send</button>
     </div>
</div>